node_modules
package-lock.json
**/Puppeteer-Cucumber/output
**/Kraken/output
.kraken
reports
execution_log.txt
test_report.txt
backstop_data
backstop.json
**/ResemblePuppeteer/results
**/ResemblePuppeteer/results_full_flow
**/Pruebas E2E/output